[user]
	email = 91384441+44lain@users.noreply.github.com
	name = Luciano Rodrigues
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
